.co-slider {
    grid-area: co-slider;
    display: grid;
    justify-self: left;
    height: 135vw;
    /*margin-left: -8vw;*/
    /*width: 92vw;*/
    grid-template:
            "left-arrow  slider-picture right-arrow"
            "slider-name .......... slider-dots"
            "slider-copy slider-copy slider-copy";
    grid-template-rows: 50vw 11vw auto;
    grid-template-columns: 18vw 55vw auto;
    grid-row-gap: 4.2vw;

    /*justify-self: left;*/
    /*padding-bottom: .5vw;*/
    /*align-self: end;*/
}

@media (min-width: 900px) {
    .co-slider {
        height: 42vw;
        margin-left: -8vw;
        width: 92vw;
        grid-template:
            "slider-picture slider-name ..........."
            "left-arrow slider-copy right-arrow"
            ".......... slider-dots ...........";
        grid-template-rows: 14.5vw 11vw auto;
        grid-template-columns: 8vw var(--main-content-column-width-desktop) auto;
        grid-row-gap: 2.2vw;
    }
}

.slider-picture {
    grid-area: slider-picture;
    background-color: cornflowerblue;
    width: 100vw;
    height: 50vw;
    margin-left: -26vw;
}

@media (min-width: 900px) {
    .slider-picture {
        height: 42vw;
        width: 92vw;
        margin-left: 0;
    }
}

.slider-name {
    grid-area: slider-name;
    font-weight: 900;
    line-height: 1.05;
    justify-self: left;
    white-space: nowrap;
    align-self: center;
    padding-bottom: 1vw;
    color: black;
    font-size: var(--section-tagline-size-mobile);
}

@media (min-width: 900px) {
    .slider-name {
        align-self: end;
        font-size: var(--section-tagline-size-desktop);
        color: white;
        padding-bottom: 1vw;
    }
}

.slider-name sup {
    color: black;
    text-decoration: underline;
}

@media (min-width: 900px) {
    .slider-name sup {
        text-decoration: none;
        font-size: 1.8vw;
        background: linear-gradient(90deg, rgba(232, 46, 89, 1) 12%, rgba(95, 74, 229, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .slider-name sup::before {
        content: "";
        position: absolute;
        top: 95%;
        width: 100%;
        left: .2vw;
        height: 0.2vw;
        background: linear-gradient(90deg, rgba(232, 46, 89, 1) 12%, rgba(95, 74, 229, 1) 100%);
    }
}

.slider-copy {
    grid-area: slider-copy;
    font-weight: 300;
    justify-self: left;
    font-size: var(--copy-font-size-mobile);
    color: black;
}

@media (min-width: 900px) {
    .slider-copy {
        width: 29vw;
        font-size: 1.1vw;
        color: white;
    }
}

.slider-copy b {
    font-weight: bold;
}

.slider-left-arrow {
    grid-area: left-arrow;
    margin-left: -2vw;
    justify-self: left;
    align-self: center;
}

.slider-right-arrow {
    grid-area: right-arrow;
    margin-left: 2vw;
    justify-self: left;
    align-self: center;
}

.slider-dots {
    grid-area: slider-dots;
    align-self: center;
    display: flex;
    gap: 1vw;
    width: 10vw;
    height: 3vw;
}

@media (min-width: 900px) {
    .slider-dots {
        align-self: start;
        gap: .5vw;
        width: 10vw;
        height: 3vw;
    }
}

.white-dot {
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    height: 3.4vw;
    width: 3.4vw;
}

@media (min-width: 900px) {
    .white-dot {
        background-color: white;
        height: 1.4vw;
        width: 1.4vw;
    }
}

.empty-dot {
    display: inline-block;
    border-radius: 50%;
    height: 3.4vw;
    width: 3.4vw;
    border: .3vw solid black;
    /*background-color: #bbb;*/
}

@media (min-width: 900px) {
    .empty-dot {
        border: .15vw solid white;
        height: 1.4vw;
        width: 1.4vw;
    }
}

.arrow {
    width: 1vw;
}