.co-section {
    grid-area: co-section;
    /*height: 170vh;*/
    display: grid;
    padding-left: 16vw;
    grid-template:
            "co-tagline"
            "co-copy"
            "co-drawers"
            "co-slider";
    grid-row-gap: 2vw;
    grid-template-rows: 10vw 7vw 16.9vw auto;
    grid-column-gap: 3vw;
    justify-items: center;
}

.co-tagline {
    grid-area: co-tagline;
    font-weight: 900;
    color: black;
    font-size: var(--section-tagline-size);
    line-height: 1.05;
    justify-self: left;
    align-self: end;
    padding-top: 1vw;
}

.co-tagline sup {
    font-size: 1.8vw;
}

.co-copy {
    grid-area: co-copy;
    width: 67vw;
    font-size: 1.13vw;
    font-weight: 300;
    color: black;
    padding-top: 1vw;
    justify-self: left;
}

.co-copy b {
    font-weight: bold;
}



.co-drawers {
    grid-area: co-drawers;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1vw 4vw;
    font-weight: 900;
    flex-wrap: wrap;
    background-color: cyan;
    width: 67vw;
    height: 12.9vw;
    justify-self: left;
}

