.contact-section {
    grid-area: contact-section;
    /*height: 181vw;*/
    display: grid;
    padding-left: var(--left-padding-mobile);
    grid-template:
            "contact-tagline"
            "contact-form";
    /*grid-row-gap: 3vw;*/
    /*grid-column-gap: 3.5vw;*/
    /*grid-template-rows: auto;*/
    justify-items: center;
    padding-bottom: 86vw;
}

@media (min-width: 900px) {
    .contact-section {
        /*padding-top: 8.5vw;*/
        padding-bottom: 3vw;
        /*height: auto;*/
    }
}

.contact-tagline {
    display: grid;
    grid-area: contact-tagline;
    padding-top: 8vw;
    font-weight: 900;
    color: white;
    line-height: 1.05;
    justify-self: left;
    /*top: -9vw;*/
    align-self: end;
    z-index: 10;
    /*padding-top: 8.5vw;*/
    padding-bottom: 3vw;
    /*padding-left: ;*/
    font-size: var(--section-tagline-size-mobile);
    grid-template-columns: 49.6vw;
    /*grid-column-gap: 11vw;*/
}

@media (min-width: 900px) {
    .contact-tagline {
        padding-bottom: 0;
        padding-left: var(--left-padding-mobile);
        font-size: var(--section-tagline-size-desktop);
        grid-template-columns: 49.6vw auto;
    }
}

.desktop-only-go {
    display: none;
}

@media (min-width: 900px) {
    .desktop-only-go {
        display: block;
    }
}

/*.contact-copy {*/
/*    grid-area: contact-copy;*/
/*    width: var(--main-content-column-width);*/
/*    font-size: 1.13vw;*/
/*    line-height: var(--copy-line-height);*/
/*    font-weight: 300;*/
/*    color: white;*/
/*    justify-self: left;*/
/*}*/

.contact-form-container {
    position: relative;
    z-index: 1;
}

.contact-form {
    grid-area: contact-articles;
    background-color: black;
    position: relative;
    font-weight: 300;
    color: white;
    justify-self: left;
    display: grid;
    grid-template-columns: var(--single-column-width-mobile);
    grid-template-rows: 92vw auto;
    top: 3vw;
    width: 92vw;
    font-size: var(--copy-font-size-mobile);
    height: 84vw;
    line-height: var(--copy-line-height);
    /*grid-column-gap: 19vw;*/
}

@media (min-width: 900px) {
    .contact-form {
        grid-template-columns: 57.6vw 20vw;
        grid-template-rows: auto;
        top: 3vw;
        width: 92vw;
        font-size: var(--copy-font-size-desktop);
        height: 48vw;
        line-height: var(--copy-line-height);
    }
}

.contact-form::before {
    background: rgb(201, 42, 62);
    background: linear-gradient(90deg, rgb(201, 42, 62) 0%, rgba(227, 147, 0, 1) 65%);
    position: absolute;
    content: '';
    z-index: -2000000;
    height: 186vw;
    width: 100vw;
    background-color: chocolate;
    top: -20.5vw;
    left: -8vw;
}

@media (min-width: 900px) {
    .contact-form::before {
        height: 50vw;
        width: 100vw;
        background-color: chocolate;
        top: -14.5vw;
        left: -8vw;
    }
}

.form-input-col {
    /*background-color: cornflowerblue;*/
    /*line-height: calc(var(--copy-line-height) * 2);*/
    margin-left: 4vw;
    width: calc(var(--single-column-width-mobile) + 4vw);
}

@media (min-width: 900px) {
    .form-input-col {
        margin-left: 8vw;
        width: 38.6vw;
    }
}

.form-details-col {
    /*background-color: darkcyan;*/
    display: grid;
    grid-template:
                "details-name"
                "details-address"
                "details-contact"
                "details-social";
    font-weight: 300;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 5vw;
    align-items: end;
    line-height: 1.1;
    /*margin-left: 8vw;*/
}

@media (min-width: 900px) {
    .form-details-col {
        line-height: 1.1;
        height: 40vw;
        grid-row-gap: 0;
        grid-template-rows: 9vw 6vw 5vw 4vw;
    }
}

.details-name {
    grid-area: details-name;
}

.details-name b {
    font-weight: bold;
}

.details-address {
    grid-area: details-address;
}

.details-contact {
    grid-area: details-contact;
}

.details-social {
    grid-area: details-social;
    display: flex;
    gap: 1vw;
}

@media (min-width: 900px) {
    .details-social {
        gap: .2vw;
    }
}

/*.contact-article {*/
/*    display: grid;*/
/*    border-top: .1vw solid black;*/
/*    grid-template-rows: 2vw auto;*/
/*}*/

/*.contact-date {*/
/*    padding-top: 1.4vw;*/
/*    color: black;*/
/*    font-size: .8vw;*/
/*    font-weight: bold;*/
/*}*/

/*.contact-copy {*/
/*    color: black;*/
/*    font-size: 1.5vw;*/
/*    font-weight: 900;*/
/*}*/

/*.contact-tagline-gradient {*/
/*    background: linear-gradient(90deg, rgba(144, 58, 68, 1) 0%, rgba(227, 147, 0, 1) 35%);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/
