/*default - to be overridden with props*/
.default-drawer-dimension {
    --cube-width: 6vw;
    --cube-height: 4.2vw;
    --cube-depth: 4vw;
    --cube-color: black;
    --font-color: white;
    --border-width: .6vw;
    --border-width-sides: .7vw;
    /*--side-font-size: 3.8vw;*/
    --side-font-size: 4.5vw;
}

@media (min-width: 900px) {
    .default-drawer-dimension {
        --border-width: .3vw;
        --border-width-sides: .35vw;
        --side-font-size: 1.7vw;
    }
}

.drawer-container {
    width: calc(var(--cube-width) * 1);
    height: calc(var(--cube-height) * 1);
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 2000px;
    perspective-origin: -450px -450px;
}

.cube {
    position: relative;
    width: var(--cube-width);
    height: var(--cube-height);
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: var(--side-font-size);
    color: var(--font-color);
    width: 100%;
    height: 100%;
    border: var(--border-width) solid var(--cube-color);
    outline: 1px solid transparent;
    border-collapse: collapse;
}

.front {
    background-color: var(--cube-color);
    transform: translateZ(calc(var(--cube-depth)));
}

.gradient-front {
    /*background: rgb(229, 40, 77);*/
    /*background: linear-gradient(45deg, rgba(226, 38, 81, 1) 0%, rgba(188, 31, 109, 1) 33%, rgba(242, 173, 16, 1) 100%);*/
    border: 0;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e22651+0,bc1f6d+25,f2ad10+100 */
    background: #e22651; /* Old browsers */
    background: -moz-linear-gradient(left, #e22651 0%, #bc1f6d 25%, #f2ad10 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e22651 0%, #bc1f6d 25%, #f2ad10 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e22651 0%, #bc1f6d 25%, #f2ad10 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e22651', endColorstr='#f2ad10', GradientType=1); /* IE6-9 */
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}

.back {
    transform: rotateY(180deg) translateZ(0);
}

.gradient-back {
    border-image: linear-gradient(90deg, rgb(243, 177, 13), rgb(229, 40, 77)) 1;
    /*border-image: linear-gradient(49deg, rgba(243,177,13,1) 0%, rgba(225,43,77,1) 100%);*/
    /*border: 0;*/
}


.front-z-animation {
    animation: moveFront 2s infinite ease-in-out alternate;
    -webkit-animation-name: moveFront;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

/*.hacky-div-gradient-back-top {*/
/*    border: 0;*/
/*    background: rgb(229, 40, 77);*/
/*    background: linear-gradient(49deg, rgba(229, 40, 77, 1) 40%, rgba(243, 177, 13, 1) 100%);*/
/*    height: .3vw;*/
/*}*/

/*.hacky-div-gradient-back-bottom {*/
/*    border: 0;*/
/*    top: 3.85vw;*/
/*    background: rgb(229, 40, 77);*/
/*    background: linear-gradient(49deg, rgba(229, 40, 77, 1) 40%, rgba(243, 177, 13, 1) 100%);*/
/*    height: .3vw;*/
/*}*/

/*.hacky-div-gradient-back-left {*/
/*    border: 0;*/
/*    background: rgb(229, 40, 77);*/
/*    height: 4vw;*/
/*    width: .3vw;*/
/*}*/

/*.hacky-div-gradient-back-right {*/
/*    border: 0;*/
/*    right: 0;*/
/*    background: rgb(243, 177, 13);*/
/*    height: 4.1vw;*/
/*    width: .3vw;*/
/*}*/

.right {
    width: var(--cube-depth);
    border-left: 0;
    border-right: 0;
    border-top: var(--border-width-sides) solid var(--cube-color);
    border-bottom: var(--border-width-sides) solid var(--cube-color);
    transform: rotateY(90deg) translateZ(calc(var(--cube-width))) translateX(calc(var(--cube-depth) * -1));
    -webkit-transform: rotateY(90deg) translateZ(calc(var(--cube-width))) translateX(calc(var(--cube-depth) * -1));
    transform-origin: left;
}

.gradient-match-right {
    border: var(--border-width-sides) solid rgb(243, 177, 13);
}

.right-z-animation {
    animation: moveRightSide 2s infinite ease-in-out alternate;
    -webkit-animation-name: moveRightSide;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

.left {
    width: var(--cube-depth);
    border-left: 0;
    border-right: 0;
    border-top: var(--border-width-sides) solid var(--cube-color);
    border-bottom: var(--border-width-sides) solid var(--cube-color);
    transform: rotateY(90deg) translateX(calc(var(--cube-depth) * -1));
    -webkit-transform: rotateY(90deg) translateX(calc(var(--cube-depth) * -1));
    transform-origin: left;
}

.gradient-match-left {
    border: var(--border-width-sides) solid rgb(229, 40, 77);
}

.left-z-animation {
    animation: moveLeftSide 2s infinite ease-in-out alternate;
    -webkit-animation-name: moveLeftSide;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

@keyframes moveFront {
    from {
        transform: translateZ(calc(var(--cube-depth)));
    }
    to {
        transform: translateZ(0);
    }
}

@-webkit-keyframes moveFront {
    from {
        -webkit-transform: translateZ(-webkit-calc(var(--cube-depth)));
    }
    to {
        -webkit-transform: translateZ(0);
    }
}


@keyframes moveLeftSide {
    from {
        transform: rotateY(-90deg) translateX(0);
        width: calc(var(--cube-depth));
    }
    to {
        transform: rotateY(-90deg) translateX(0);
        width: 0;
    }
}

@-webkit-keyframes moveLeftSide {
    from {
        -webkit-transform: rotateY(-90deg) translateX(0);
        width: -webkit-calc(var(--cube-depth));
    }
    to {
        -webkit-transform: rotateY(-90deg) translateX(0);
        width: 0;
    }
}

@keyframes moveRightSide {
    from {
        width: var(--cube-depth);
        transform: rotateY(-90deg) translateZ(calc(var(--cube-width) * -1)) translateX(0);
    }
    to {
        width: 0;
        transform: rotateY(-90deg) translateZ(calc(var(--cube-width) * -1)) translateX(0);
    }
}

@-webkit-keyframes moveRightSide {
    from {
        width: var(--cube-depth);
        -webkit-transform: rotateY(-90deg) translateZ(-webkit-calc(var(--cube-width) * -1)) translateX(0);
    }
    to {
        width: 0;
        -webkit-transform: rotateY(-90deg) translateZ(-webkit-calc(var(--cube-width) * -1)) translateX(0);
    }
}
