.experience-section {
    grid-area: experience-section;
    display: grid;
    justify-items: center;
    padding-left: var(--padding-left-mobile);
    grid-template:
            "experience-tagline"
            "experience-copy"
            "experience-clients";
    grid-template-columns: var(--single-column-width-mobile);
    grid-row-gap: var(--row-gap-mobile);
    grid-template-rows: auto auto auto;
    grid-column-gap: 3vw;
    padding-bottom: 7vw;
    padding-top: 8vw;
    background-color: white;
}

@media (min-width: 900px) {
    .experience-section {
        padding-bottom: var(--padding-bottom-destop);
        padding-top: var(--padding-top-desktop);
        padding-left: var(--padding-left-desktop);
        grid-template:
            "experience-tagline"
            "experience-copy"
            "experience-clients";
        grid-row-gap: var(--row-gap-desktop);
        grid-template-rows: auto auto auto;
        grid-column-gap: 3vw;
    }
}

.experience-tagline {
    grid-area: experience-tagline;
    display: grid;
    align-items: end;
    font-weight: 900;
    color: black;
    justify-self: left;
    align-self: end;
    line-height: 1.05;
    font-size: var(--section-tagline-size-mobile);
    grid-template-columns: auto auto;
}

@media (min-width: 900px) {
    .experience-tagline {
        grid-template-columns: auto 35vw;
        padding-top: 1vw;
        font-size: var(--section-tagline-size-desktop);
    }
}

.plus-star {
    margin-left: -5vw;
    z-index: 10;
}

@media (min-width: 900px) {
    .plus-star {
        margin-top: -5vw;
        margin-left: 20vw;
    }
}

.experience-tagline sup {
    font-size: calc(var(--section-tagline-size-mobile) * .6);
}

@media (min-width: 900px) {
    .experience-tagline sup {
        font-size: calc(var(--section-tagline-size-desktop) * .6);
    }
}

.experience-copy {
    grid-area: experience-copy;
    font-weight: 300;
    line-height: var(--copy-line-height);
    color: black;
    justify-self: left;
    font-size: var(--copy-font-size-mobile);
}

@media (min-width: 900px) {
    .experience-copy {
        justify-self: left;
        font-size: var(--copy-font-size-desktop);
        width: var(--main-content-column-width-desktop);
    }
}

.experience-copy b {
    font-weight: bold;
}

.experience-clients {
    grid-area: experience-clients;
    display: grid;
    justify-self: left;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    max-width: 1150px;
    /*flex-direction: column;*/
    gap: 10vw;
}

.span-cols-2:last-child{
    grid-column: span 2;
    width: 50%;
    justify-self: center;
}



@media (min-width: 900px) {
    .experience-clients {
        grid-area: experience-clients;
        display: grid;
        justify-self: left;
        grid-template-columns: repeat(6, auto);
        width: 100%;
        max-width: 1150px;
        /*flex-direction: column;*/
        gap: 4vw;
    }

    .span-cols-2{
        grid-column: span 2;
    }

    .span-cols-2-skip-1{
        grid-column: 2 / span 2;
    }

    .span-cols-2:last-child{
        width: 100%;
    }

}


