.experience-section {
    grid-area: experience-section;
    display: grid;
    justify-items: center;
    padding-left: var(--padding-left-mobile);
    grid-template:
            "co-tagline"
            "co-copy"
            "co-drawers";
    grid-template-columns: var(--single-column-width-mobile);
    grid-row-gap: var(--row-gap-mobile);
    grid-template-rows: auto auto 79vw;
    grid-column-gap: 3vw;
    padding-bottom: 7vw;
    background-color: white;
}

@media (min-width: 900px) {
    .experience-section {
        padding-bottom: var(--padding-bottom-destop);
        padding-left: var(--padding-left-desktop);
        grid-template:
            "co-tagline"
            "co-copy"
            "co-drawers";
        grid-row-gap: var(--row-gap-desktop);
        grid-template-rows: auto auto 12.9vw;
        grid-column-gap: 3vw;
    }
}

.experience-tagline {
    grid-area: co-tagline;
    display: grid;
    align-items: end;
    font-weight: 900;
    color: black;
    justify-self: left;
    align-self: end;
    line-height: 1.05;
    font-size: var(--section-tagline-size-mobile);
    grid-template-columns: auto auto;
}

@media (min-width: 900px) {
    .experience-tagline {
        grid-template-columns: auto 35vw;
        padding-top: 1vw;
        font-size: var(--section-tagline-size-desktop);
    }
}

.plus-star {
    margin-left: -5vw;
    z-index: 10;
}

@media (min-width: 900px) {
    .plus-star {
        margin-top: -5vw;
        margin-left: 20vw;
    }
}

.experience-tagline sup {
    font-size: calc(var(--section-tagline-size-mobile) * .6);
}

@media (min-width: 900px) {
    .experience-tagline sup {
        font-size: calc(var(--section-tagline-size-desktop) * .6);
    }
}

.experience-copy {
    grid-area: co-copy;
    font-weight: 300;
    line-height: var(--copy-line-height);
    color: black;
    justify-self: left;
    font-size: var(--copy-font-size-mobile);
}

@media (min-width: 900px) {
    .experience-copy {
        justify-self: left;
        font-size: var(--copy-font-size-desktop);
        width: var(--main-content-column-width-desktop);
    }
}

.experience-copy b {
    font-weight: bold;
}

.experience-drawers {
    grid-area: co-drawers;
    display: flex;
    font-weight: 900;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    justify-self: left;
    width: 70vw;
    gap: 4vw 6vw;
}

@media (min-width: 900px) {
    .experience-drawers {
        width: 70vw;
        gap: 2vw 2.7vw;
    }
}

