.founders-section {
    grid-area: founders-section;
    display: grid;
    grid-template-columns: var(--single-column-width-mobile);
    grid-template-rows: auto auto;
    grid-gap: 0;
    justify-self: center;
    justify-items: center;
    background-color: white;
    z-index: 10;
}

@media (min-width: 900px) {
    .founders-section {
        padding-left: var(--padding-left-desktop);
    }
}

.founder-container {
    display: grid;
    grid-template:
            "top-padding-div"
            "founder-picture"
            "founder-name"
            "founder-copy";
    grid-template-rows: 8vw auto auto auto;
}

@media (min-width: 900px) {
    .founder-container {
        height: 47vw;
        width: 83vw;
        margin-left: calc(-1.5 * (var(--padding-left-desktop) - .5vw));
        grid-template-rows: 5vw 6vw 5vw auto;
    }
}

.top-padding-div {
    grid-area: top-padding-div;
}

.founder-name {
    grid-area: founder-name;
    font-weight: 900;
    line-height: 1.05;
    justify-self: left;
    white-space: nowrap;
    align-self: center;
    padding-top: 3vw;
    color: black;
    font-size: var(--section-tagline-size-mobile);
}

@media (min-width: 900px) {
    .founder-name {
        padding-top: 0;
        align-self: end;
        padding-left: calc(.75 * (var(--padding-left-desktop) - .5vw));
        font-size: var(--section-tagline-size-desktop);
        color: white;
        padding-bottom: 1vw;
    }
}

.founder-name span {
    color: black;
}

@media (min-width: 900px) {
    .founder-name span {
        text-decoration: none;
        background: linear-gradient(90deg, rgba(232, 46, 89, 1) 12%, rgba(95, 74, 229, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.founder-copy {
    grid-area: founder-copy;
    font-weight: 300;
    line-height: var(--copy-line-height);
    justify-self: left;
    font-size: var(--copy-font-size-mobile);
    color: black;
    padding-top: 3vw;
}

@media (min-width: 900px) {
    .founder-copy {
        padding-top: 0;
        padding-left: calc(.75 * (var(--padding-left-desktop) - .5vw));
        font-size: 1.1vw;
        color: white;
    }
}

.founder-copy > br {
    display: none;
}

@media (min-width: 900px) {
    .founder-copy > br {
        display: inline-block;
    }
}

.founder-copy b {
    font-weight: bold;
}

.founder-picture-container {
    grid-area: founder-picture;
    position: relative;
    height: 80vw;
    z-index: -1;
    transition: 0.8ms all ease-in-out;
}

@media (min-width: 900px) {
    .founder-picture-container {
        height: 42vw;
        width: 92vw;
        margin-left: 0;
    }
}

.founder-image {
    object-position: 10% 10%;
    height: 100%;
    transition: 0.8ms all ease-in-out;
}

@media (min-width: 900px) {
    .founder-image {
        margin-left: 0;
    }
}