@import url("https://p.typekit.net/p.css?s=1&k=jqc2zgo&ht=tk&f=31232.31234&a=107100808&app=typekit&e=css");

@font-face {
    font-family: 'Satoshi';
    src: url(../../font/Satoshi-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Satoshi';
    src: url(../../font/Satoshi-Italic.otf) format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../../font/Satoshi-Black.otf) format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../../font/Satoshi-Light.otf) format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../../font/Satoshi-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../../font/Satoshi-BoldItalic.otf) format('opentype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "nobel";
    src: url("https://use.typekit.net/af/2d455d/00000000000000003b9ae84f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/2d455d/00000000000000003b9ae84f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/2d455d/00000000000000003b9ae84f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "nobel";
    src: url("https://use.typekit.net/af/6ab96c/00000000000000003b9ae851/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff2"), url("https://use.typekit.net/af/6ab96c/00000000000000003b9ae851/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("woff"), url("https://use.typekit.net/af/6ab96c/00000000000000003b9ae851/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 800;
    font-stretch: normal;
}

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   THE END of "Base styles: opinionated defaults"
   ========================================================================== */
/*Uncomment to use for inspection*/
/** {*/
/*  outline: 1px solid #f00 !important;*/
/*}*/

body {
    font-family: "Satoshi", sans-serif;
    font-display: swap;
    color: black;
    overflow-x: hidden;
    --section-tagline-size-desktop: 2.8vw;
    --section-tagline-size-mobile: 6.5vw;
    --single-column-width-mobile: 84vw;
    --single-column-width-desktop: 76vw;
    --main-content-column-width-mobile: 82vw;
    --main-content-column-width-desktop: 67vw;
    --copy-line-height: 1.8;
    --copy-font-size-desktop: 1.13vw;
    --copy-font-size-mobile: 4.5vw;
    --padding-left-mobile: 8vw;
    --padding-left-desktop: 16vw;
    --padding-top-desktop: 5vw;
    --padding-bottom-destop: 5vw;
    --row-gap-mobile: 4vw;
    --row-gap-desktop: 2vw;
    --left-padding-mobile: 8vw;
    --left-padding-desktop: 16vw;
    --hamb-color: black;
}

.layout {
    scrollbar-gutter: stable both-edges;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "go-hero"
      "radical-section"
      "founders-section"
      "experience-section"
      "network-section"
      "go-contact-section"
}

footer > p {
    margin-block-start: 0;
    margin-block-end: 0;
}