.go-contact-form {
    padding-top: 3.9vw;
    display: grid;
    width: 100%;
    grid-template-rows: auto;
}

.go-contact-form input {
    background-color: black;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: .1vw solid white;
    height: 11vw;
    font-size: var(--copy-font-size-mobile);
}

@media (min-width: 900px) {
    .go-contact-form input {
        border-bottom: .1vw solid white;
        height: 5.2vw;
        font-size: 2.2vw;
    }
}

.go-contact-form input::placeholder {
    color: white;
    opacity: 1;
    padding-left: 0;
}

/*.go-contact-form input::-moz-placeholder {*/
/*    color: white;*/
/*    opacity: 1;*/
/*    padding-left: 0;*/
/*}*/

.go-contact-form input:focus {
    outline: none;
    /*background: rgb(201, 42, 62);*/
    /*background: rgb(255, 98, 30);*/
    background: rgb(220, 60, 62);
    background: linear-gradient(90deg, rgb(220, 60, 62) 0%, rgba(227, 147, 0, 1) 35%);
}

.go-submit {
    display: grid;
    height: 18vw;
    align-items: end;
}

@media (min-width: 900px) {
    .go-submit {
        height: 9.6vw;
        align-items: end;
    }
}

.go-contact-form button {
    outline: none;
    background-color: white;
    color: black;
    font-weight: 900;
    border: 0;
    width: 18vw;
    height: 10vw;
    font-size: 5.5vw;
    cursor: pointer;
}

@media (min-width: 900px) {
    .go-contact-form button {
        width: 11vw;
        height: 6vw;
        font-size: 3vw;
    }
}
