.go-hero-section {
    grid-area: go-hero;
    height: 100vh;
    display: grid;
    grid-template:
            "fmcgo-logo fmcgo-tagline"
            "fmcgo-copy fmcgo-copy";
    grid-row-gap: 5vw;
    grid-column-gap: 3vw;
}

.fmcgo-logo {
    grid-area: fmcgo-logo;
    width: 21.5vw;
    justify-self: right;
    padding-bottom: .5vw;
    align-self: end;
}

.fmcgo-tagline {
    grid-area: fmcgo-tagline;
    font-weight: 900;
    font-size: 5vw;
    line-height: 1.05;
    justify-self: left;
    align-self: end;
}

.fmcgo-tagline-gradient {
    background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fmcgo-tagline-gradient::before {
  content: "";
  position: absolute;
  top: 90%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
}

.fmcgo-copy {
    grid-area: fmcgo-copy;
    font-size: 1.13vw;
    color: #7b7b7b;
    justify-self: center;
}