.go-hero-section {
    margin-top: -12vw;
    grid-area: go-hero;
    display: grid;
    padding-left: var(--left-padding-mobile);
    /*height: 148vw;*/
    grid-template:
            "fmcgo-logo"
            "fmcgo-tagline"
            "fmcgo-copy";
    grid-template-columns: var(--single-column-width-mobile);
    grid-template-rows: 26vw 24vw auto;
    grid-row-gap: 5vw;
    grid-column-gap: 3vw;
    padding-bottom: 7vw;
    overflow-x: clip;
}

@media (min-width: 900px) {
    .go-hero-section {
        margin-top: 0;
        padding-left: var(--left-padding-desktop);
        /*height: 42vw;*/
        grid-template:
            "fmcgo-logo fmcgo-tagline"
            "fmcgo-copy fmcgo-copy";
        grid-template-columns: 21.4vw 43vw;
        grid-template-rows: auto auto;
        grid-row-gap: 4.9vw;
        grid-column-gap: 3vw;
        padding-top: 9vw;
        padding-bottom: 6vw;
    }
}

.fmcgo-logo {
    grid-area: fmcgo-logo;
    justify-self: left;
    width: 58vw;
    /*padding-bottom: .5vw;*/
    align-self: start;
}

@media (min-width: 900px) {
    .fmcgo-logo {
        width: 21.4vw;
        padding-bottom: .5vw;
        align-self: end;
    }
}

.fmcgo-vector-logo {
    width: 100%;
}

.fmcgo-copy {
    grid-area: fmcgo-copy;
    color: #7b7b7b;
    font-weight: 300;
    justify-self: left;
    line-height: var(--copy-line-height);
    font-size: 4.6vw;
}

@media (min-width: 900px) {
    .fmcgo-copy {
        font-size: 1.18vw;
    }
}

.fmcgo-tagline {
    grid-area: fmcgo-tagline;
    font-weight: 900;
    line-height: 1.05;
    justify-self: left;
    white-space: nowrap;
    font-size: 10vw;
    align-self: start;
}

@media (min-width: 900px) {
    .fmcgo-tagline {
        font-size: 5vw;
        align-self: end;
    }
}

.fmcgo-tagline-gradient-tricolor {
    background: linear-gradient(90deg, rgba(74, 90, 211, 1) 0%, rgba(212, 49, 73, 1) 50%, rgba(99, 14, 105, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fmcgo-tagline-gradient-tricolor::before {
    content: "";
    position: absolute;
    top: 90%;
    width: 97%;
    left: .2vw;
    height: .8vw;
    background: linear-gradient(90deg, rgba(74, 90, 211, 1) 0%, rgba(212, 49, 73, 1) 50%, rgba(99, 14, 105, 1) 100%);
}

@media (min-width: 900px) {
    .fmcgo-tagline-gradient-tricolor::before {
        height: .3vw;
    }
}

.fmcgo-tagline-gradient-secondary {
    background: linear-gradient(90deg, rgba(144, 58, 68, 1) 0%, rgba(227, 147, 0, 1) 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fmcgo-tagline-gradient-secondary::before {
    content: "";
    position: absolute;
    top: 90%;
    width: 97%;
    left: .2vw;
    height: .8vw;
    background: linear-gradient(90deg, rgba(144, 58, 68, 1) 0%, rgba(227, 147, 0, 1) 35%);
}


@media (min-width: 900px) {
    .fmcgo-tagline-gradient-secondary::before {
        height: .3vw;
    }
}