.hamb {
    cursor: pointer;
    display: grid;
    justify-self: center;
    align-self: center;
    /*margin-left: auto;*/
    /*float: left;*/
    /*padding-right: calc(5vw);*/
    /*padding-bottom: 1vw;*/
    /*padding-top: 1vw;*/
    /*background-color: chocolate;*/
}

/* Style label tag */

.hamb-line {
    background: var(--hamb-color);
    display: block;
    height: 4px;
    /*height: 2vw;*/
    position: relative;
    /*width: 24px;*/
    width: 6vw;
    transition: all .2s ease-out;

}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: var(--hamb-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    /*top: 5px;*/
    top: 2.5vw;
}

.hamb-line::after {
    /*top: -5px;*/
    top: -2.5vw;
}

.hamb-checkbox {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
/*.hamb-checkbox:checked ~ nav {*/
/*  !*background-color: var(--cat-blue);*!*/
/*  border-top: 1px solid var(--hamb-color);*/
/*  background-color: black;*/
/*  top: 5vw;*/
/*  padding-top: 2vw;*/
/*  padding-bottom: .5vw;*/
/*  max-height: 100%;*/
/*  transform: translateY(100%);*/
/*}*/

.hamb-checkbox:checked ~ .hamb .hamb-line {
    background: transparent;
}

.hamb-checkbox:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    background-color: white;
    top: 0;
}

.hamb-checkbox:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    background-color: white;
    top: 0;
}