.navbar-go {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-go ul {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 3vw;
    font-size: 15px;
    padding-right: 1vw;
}

.navbar-go li {
    padding: 0 1vw;
    display: block;
    float: right;
}

