.network-section {
    position: relative;
    grid-area: network-section;
    background-color: white;
    display: grid;
    /*height: 103vw;*/
    padding-left: var(--left-padding-mobile);
    grid-template:
            "network-tagline"
            "network-copy"
            "network-pictures";
    grid-row-gap: var(--row-gap-mobile);
    grid-template-columns: var(--single-column-width-mobile);
    grid-template-rows: auto auto auto;
    justify-items: center;
    padding-top: 8vw;
    padding-bottom: 8vw;
}

@media (min-width: 900px) {
    .network-section {
        /*height: 76vw;*/
        padding-top: var(--padding-top-desktop);
        padding-bottom: var(--padding-bottom-destop);
        padding-left: var(--left-padding-desktop);
        grid-row-gap: var(--row-gap-desktop);
        grid-template-rows: auto auto;
        justify-items: center;
    }
}

.network-tagline {
    grid-area: network-tagline;
    /*padding-left: var(--left-padding-mobile);*/
    color: black;
    font-weight: 900;
    line-height: 1.05;
    font-size: var(--section-tagline-size-mobile);
    justify-self: left;
    align-self: end;
}

.network-tagline span {
    background: linear-gradient(49deg, rgba(139, 37, 86, 1) 4%, rgba(206, 124, 21, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 900px) {
    .network-tagline {
        font-size: var(--section-tagline-size-desktop);
    }
}

.plus-star {
    position: absolute;
    top: -3vw;
    left: 64vw;
    width: 20vw;
    /*margin-left: -5vw;*/
    z-index: 100;
}

@media (min-width: 900px) {
    .plus-star {
        top: -2vw;
        left: 64vw;
        width: 12vw;
        /*margin-top: -5vw;*/
        /*margin-left: 20vw;*/
    }
}

.network-copy {
    grid-area: network-copy;
    /*padding-left: var(--left-padding-mobile);*/
    font-size: var(--copy-font-size-mobile);
    line-height: var(--copy-line-height);
    font-weight: 300;
    color: black;
    justify-self: left;
}

@media (min-width: 900px) {
    .network-copy {
        width: var(--main-content-column-width-desktop);
        font-size: var(--copy-font-size-desktop);
    }
}

.network-pictures {
    display: grid;
    grid-area: network-pictures;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 4vw;
    grid-column-gap: 2vw;
    font-weight: 300;
    padding-top: 5.3vw;
    font-size: var(--copy-font-size-mobile);
    width: 100%;
    /*width: var(--main-content-column-width-mobile);*/
    line-height: var(--copy-line-height);
    color: black;
    justify-self: left;
    z-index: 10;
}

@media (min-width: 900px) {
    .network-pictures {
        display: grid;
        grid-area: network-pictures;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 2vw;
        font-size: var(--copy-font-size-desktop);
        width: var(--main-content-column-width-desktop);
        color: black;
        justify-self: left;
    }
}

.network-pictures b {
    font-weight: bold;
}

@media (min-width: 900px) {
    .network-pictures b {
        font-weight: bold;
    }
}

.network-person-container {
    display: block;
    position: relative;
    z-index: 1;
}

@media (min-width: 900px) {
    .network-person-container > p {
        padding-top: 1vw;
    }
}

.network-person-picture-right,
.network-person-picture-left {
    display: block;
    position: relative;
    width: 40vw;
}

@media (min-width: 900px) {
    .network-person-picture-right,
    .network-person-picture-left {
        display: block;
        position: relative;
        width: 21.8vw;
        background-color: grey;
    }
}

    .network-person-picture-left:before {
        content: '';
        position: absolute;
        background: rgb(139, 37, 86);
        background: linear-gradient(49deg, rgba(139, 37, 86, 1) 4%, rgba(206, 124, 21, 1) 100%);
        background-color: chocolate;
        height: 1vw;
        width: 40vw;
        z-index: -2000000;
        top: -1vw;
    }

    .network-person-picture-right:before {
        content: '';
        position: absolute;
        background: rgb(228, 148, 28);
        background: radial-gradient(circle, rgba(228, 148, 28, 1) 0%, rgba(128, 52, 39, 1) 100%);
        height: 1vw;
        width: 40vw;
        z-index: -2000000;
        background-color: chocolate;
        top: -1vw;
    }


@media (min-width: 900px) {
    .network-person-picture-left:before {
        width: 21.8vw;
    }

    .network-person-picture-right:before {
        width: 21.8vw;
        background-color: chocolate;
    }
}