.news-section {
    grid-area: news-section;
    height: 72vw;
    display: grid;
    padding-left: 16vw;
    grid-template:
            "news-tagline"
            "news-articles";
    grid-row-gap: 5vw;
    grid-template-rows: 9.7vw auto;
    justify-items: center;
}

.news-tagline {
    grid-area: news-tagline;
    font-weight: 900;
    color: black;
    font-size: var(--section-tagline-size);
    line-height: 1.05;
    justify-self: left;
    align-self: end;
}

/*.news-copy {*/
/*    grid-area: news-copy;*/
/*    width: var(--main-content-column-width);*/
/*    font-size: 1.13vw;*/
/*    line-height: var(--copy-line-height);*/
/*    font-weight: 300;*/
/*    color: white;*/
/*    justify-self: left;*/
/*}*/

.news-articles-container {
    grid-area: news-articles;
    width: var(--main-content-column-width);
    font-size: 1.13vw;
    height: 32vw;
    line-height: 1.15;
    font-weight: 300;
    color: white;
    justify-self: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 2.8vw;
    grid-row-gap: 6.4vw;
}

.news-article {
    display: grid;
    border-top: .1vw solid black;
    grid-template-rows: 2vw auto;
}

.news-date {
    padding-top: 1.4vw;
    color: black;
    font-size: .8vw;
    font-weight: bold;
}

.news-copy {
    color: black;
    font-size: 1.5vw;
    font-weight: 900;
}

.news-tagline-gradient{
    background: linear-gradient(90deg, rgba(144,58,68,1) 0%, rgba(227,147,0,1) 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
