.bean-container {
    width: 22vw;
    display: inline-grid;
    grid-template-columns: repeat(3, 7vw);
    justify-self: center;
    justify-content: space-evenly;
    /*width: 6vw;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*align-self: center;*/
    /*justify-content: space-evenly;*/
}

@media (min-width: 900px) {
    .bean-container {
        grid-template-columns: repeat(3, 2vw);
        /*width: 1.7vw;*/
        width: 7vw;
    }
}

.bean {
    width: 6vw;
}

@media (min-width: 900px) {
    .bean {
        width: 1.7vw;
    }
}

.bottle {
    width: 22vw;
}

@media (min-width: 900px) {
    .bottle {
        width: 7.5vw;
    }
}

.fmcgo-tag {
    width: 22vw;
}

@media (min-width: 900px) {
    .fmcgo-tag {
        width: 7vw;
    }
}

.price-tag {
    font-family: "nobel", sans-serif;
    font-weight: 900;
    text-wrap: none;
    font-size: 8vw;
}

@media (min-width: 900px) {
    .price-tag {
        font-size: 2.3vw;
    }
}

.price-tag sup {
    top: -2vw;
}

@media (min-width: 900px) {
    .price-tag sup {
        top: -.5vw;
    }
}

.drawers-banner {
    display: flex;
    /*width: 206%;*/
    /*width: 720%;*/
    width: 720%;
    height: 100%;
    gap: 9vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    /*white-space: nowrap;*/
    animation: bannerMove 20s linear infinite;
}

@media (min-width: 900px) {
    .drawers-banner {
        width: 205%;
        gap: 3.8vw;
        /*padding-right: 3.8vw;*/
    }
}

@keyframes bannerMove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}