.bean-container {
    width: 7vw;
    display: flex;
    justify-content: space-evenly;
}

.bean {
    width: 1.7vw
}

.bottle {
    width: 7.5vw;
}

.fmcgo-tag {
    width: 7vw;
}

.price-tag {
    font-family: "nobel", sans-serif;
    font-size: 2.3vw;
    font-weight: 900;
    text-wrap: none;
}

.price-tag sup {
    top: -.5vw;
}