.radical-section {
    grid-area: radical-section;
    height: 100vh;
    background-color: black;
    display: grid;
    padding-left: 16vw;
    grid-template:
            "radical-icons"
            "radical-tagline"
            "radical-copy"
            "radical-drawers";
    grid-row-gap: 5vw;
    grid-column-gap: 3vw;
    justify-items: center;
}

.radical-icons {
    grid-area: radical-icons;
    width: 65vw;
    display: grid;
    grid-template:
            "mouse-go social-icons";
    justify-self: left;
    padding-top: 1vw;
    align-self: start;
}

.radical-tagline {
    grid-area: radical-tagline;
    font-weight: 900;
    color: white;
    font-size: 3vw;
    line-height: 1.05;
    justify-self: left;
    align-self: end;
}

.radical-copy {
    grid-area: radical-copy;
    width: 65.5vw;
    font-size: 1.13vw;
    color: white;
    justify-self: left;
}

.radical-drawers {
    grid-area: radical-drawers;
}


.mouse-go {
    grid-area: mouse-go;
    justify-self: left;
    display: inline-flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(144, 58, 68, 1) 60%, rgba(227, 147, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -.3vw;
    font-size: 2.2vw;
    font-weight: 900;
    gap: .8vw;
}

.mouse-icon {
    width: 1.5vw;
    margin-top: 2vw;
}

.social-icons {
    grid-area: social-icons;
    justify-self: right;
    align-self: center;
    gap: .5vw;
    display: inline-flex;
}

.icon-box {
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    align-items: center;
    justify-content: center;
    border: .2vw solid white;
    width: 1.5vw;
    height: 1.5vw;
    padding: 1vw;
}

.icon-box--lifted {

}