.radical-manifest-container {
    font-size: var(--copy-font-size-mobile);
    color: black;
    font-weight: 300;
    line-height: 1.15;
    justify-self: left;
    display: grid;
    /*height: 32vw;*/
    grid-template-columns: var(--single-column-width-mobile);
    grid-template-rows: auto;
    grid-row-gap: var(--row-gap-mobile);
}

@media (min-width: 900px) {
    .radical-manifest-container {
        font-size: var(--copy-font-size-desktop);
        width: var(--main-content-column-width-desktop);
        /*height: 32vw;*/
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 2.8vw;
        grid-row-gap: 6.4vw;
    }
}

.manifest-point {
    display: grid;
    border-top: 1px solid white;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

@media (min-width: 900px) {
    .manifest-point {
        grid-template-rows: auto auto;
    }
}

.manifest-point-bullet {
    color: white;
    font-weight: 900;
    font-size: calc(1.2 * var(--copy-font-size-mobile));
    padding-top: 3.5vw;
}

@media (min-width: 900px) {
    .manifest-point-bullet {
         font-size: calc(1.8 * var(--copy-font-size-desktop));
        padding-top: 1.4vw;
    }
}

.manifest-point-copy {
    color: white;
    /*font-size: 4vw;*/
      font-size: var(--copy-font-size-mobile);

    font-weight: 300;
}

@media (min-width: 900px) {
    .manifest-point-copy {
        font-size: var(--copy-font-size-desktop);
    }
}