*,
*::before,
*::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.drawers-container {
    display: flex;
}

.container {
    width: 140px;
    height: 65px;
    /*border: 2px solid white;*/
    /*border-radius: 4px;*/
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1800px;
    perspective-origin: -250px -140px;
    animation: moveOnZ 2s infinite ease-in-out alternate;
}

.cube {
    position: relative;
    width: 100px;
    height: 50px;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 1.5em;
    color: white;
    width: 100%;
    height: 100%;
    /*opacity: 0.9;*/
    border: 2px solid black;
    border-collapse: collapse;
}

.front {
    background-color: black;
    transform: translateZ(-100px);
    animation: moveFront 2s infinite ease-in-out alternate;
}

.back {
    transform: translateZ(-100px);
}

.right {
    width: 0;
    transform: rotateY(-90deg) translateX(-100px) translateZ(-100px);
    transform-origin: left;
    animation: moveRightSide 2s infinite ease-in-out alternate;
}

.left {
    width: 0;
    transform: rotateY(-90deg) translateX(-100px);
    transform-origin: left;
    animation-delay: 3s;
    animation: moveLeftSide 2s infinite ease-in-out alternate;
}

@keyframes moveFront {
    from {
        transform: translateZ(-100px);
    }
    to {
        transform: translateZ(0);
    }
}

@keyframes moveLeftSide {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}


@keyframes moveRightSide {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}


#carrefour div {
    animation-delay: 2s;
}

#pepsi div {
    animation-delay: 4s;
}

#desperados div {
    animation-delay: 6s;
}

#heineken div {
    animation-delay: 8s;
}

#develey div {
    animation-delay: 10s;
}